/* Mobile first */

h1 {
    max-width: 823px;
    color: red;
    text-align: center;
}

@media screen and (min-width: 824px) {
  h1 {
    color: blue;
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (min-width: 530px) {
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
  }
}
